.top-bar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 1;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2); /* Firefox 3.5 - 3.6 */
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.top-bar-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
}

.top-bar-icon:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.top-bar-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
