.from-to {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.custom-input,
.date-picker-style {
  width: 120px;
  text-align: center;
  height: 45px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  margin: 0;
  padding: 0;
}

.custom-input {
  background-color: darkcyan;
}

.time-picker-style {
  height: 400px;
  width: 150px;
}

.time-picker-style > div {
  height: 400px;
  width: 150px;
}

.time-picker-style li {
  font-size: 160%;
  margin: 3px 0;
  padding: 20px 0 !important;
  background-color: #ddd;
  border-radius: 10px;
}

.react-datepicker__time,
.react-datepicker__time-box,
.react-datepicker__time-list {
  height: 400px !important;
}
