html {
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  height: 100%;
}
